nz-header.ant-layout-header {
  padding: 0;
  //border-bottom: 1px solid #1890ff;
  background-color: #1890ff;
  color: #ffffff;

  button.ant-btn-icon-only {
    width: 63px;
    height: 63px;
    border-radius: 0;
    box-shadow: none;

    &.active {
      border-color: #1890ff;
      color: #1890ff;
    }
  }

  .ant-btn-icon-only {
    font-size: 26px;
  }
}

nz-sider {
  //border-right: 1px solid #1890ff;
  background-color: #1890ff;

  .search {
    padding: 16px 0;
  }

  .tree {
    user-select: none;
  }
}

nz-content {
  display: flex;
  background-color: #eff2f5;

  .file-list {
    flex: 1 1 auto;
  }

  .block {
    display: flex;
    max-height: 100%;
    overflow: auto;

    .item {
      width: 120px;
      margin: 10px;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        margin: 0 auto;
        border-radius: 4px;

        i {
          font-size: 48px;
        }
      }

      p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2px;
        line-height: 1;
        word-break: break-all;
        font-size: 16px;
        text-align: center;

        span {
          padding: 2px;
          border-radius: 2px;
          user-select: none;
        }
      }

      &.active {
        .icon {
          background-color: rgba(0, 0, 0, .2);
          color: #1890ff;
        }

        p span {
          background-color: #1890ff;
          color: #ffffff;
        }
      }
    }
  }

  .list {
    overflow: auto;
    max-height: 100%;
    color: #ffffff;

    table {
      width: 100%;
      font-size: 16px;

      tr {
        height: 30px;

        th, td {
          padding-left: 5px;
        }
      }

      tr:nth-child(n) {
        background-color: #2b2b2c;
      }

      tr:nth-child(2n) {
        background-color: #353536;
      }

      tr.active {
        background-color: #1890ff;
        color: #ffffff;
      }
    }

  }

  .detail {
    flex: 0 0 300px;
    padding: 40px;
    background-color: #fafafa;
    font-size: 16px;
    color: #808080;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 150px;
      font-size: 60px;
    }

    .name, .title {
      word-break: break-all;
      font-size: 22px;
      font-weight: bold;
      color: #262626;
    }

    .name {
      text-align: center;
      line-height: 1;
    }

    .title {
      margin-top: 10px;
      font-size: 18px;
    }

    .info {

      div {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

::ng-deep {
  .ant-layout {
    min-height: 100vh;
  }

  .ant-tree.ant-tree-show-line li span.ant-tree-switcher {
    background-color: #1890ff;
    font-size: 16px;
    color: #ffffff;
  }

  .ant-tree li .ant-tree-node-content-wrapper {
    font-size: 16px;
    color: #ffffff;

    &:hover, &.ant-tree-node-selected {
      background-color: #ffffff;
      color: #1890ff;
    }
  }

  .ant-layout-sider-children {
    overflow: auto;
    padding: 0 10px;
  }
}
