$blue: #6fc7f5;
$blue-heavy: #202b3b;
$blue-light: #d9effa;

$grey: #c2c2c2;
$grey-light: #eaeaea;
$grey-heavy: #77787c;

$black: #2d2f30;
$black-light: #4b4c4d;

$white: #ffffff;
$white-heavy: #f6f6f6;

nz-header.ant-layout-header {
  height: auto;
  padding: 0;

  .view {
    display: flex;
    height: 40px;
    background-color: $grey-light;
    line-height: 38px;
    font-size: 20px;

    button.ant-btn {
      width: 120px;
      height: 38px;
      border: none;
      border-radius: 0;
      box-shadow: none;
      background-color: $grey-light;
      color: $grey-heavy;

      &.active, &:hover {
        border-left: 1px solid $grey;
        border-right: 1px solid $grey;
        background-color: $white;
        color: $black;

        ::ng-deep span {
          border-bottom: 6px solid $blue;
        }
      }
    }
  }

  .oper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    border-bottom: 1px solid $grey;
    background-color: $white;
    line-height: 48px;

    a {
      font-size: 14px;
      color: $black;

      &:hover {
        text-decoration: underline;
      }
    }
  }

}

nz-sider {
  height: 100vh;
  background-color: $blue-heavy;
  color: #ffffff;

  .search {
    padding: 16px 0;
  }

  .tree {
    overflow: auto;
    flex: 1 1 auto;
    padding-bottom: 50px;
    user-select: none;
  }
}

nz-content {
  display: flex;
  background-color: #eff2f5;

  .file-list {
    flex: 1 1 auto;
    overflow: auto;
  }

  .block {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    max-height: 100%;

    .item {
      width: 120px;
      margin: 10px;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        margin: 0 auto;
        border-radius: 4px;

        i {
          font-size: 48px;
        }
      }

      p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2px;
        line-height: 1;
        word-break: break-all;
        font-size: 16px;
        text-align: center;

        span {
          padding: 2px;
          border-radius: 2px;
          user-select: none;
        }
      }

      &.active {
        .icon {
          background-color: $black-light;
          color: $blue;
        }

        p span {
          background-color: $black;
          color: #ffffff;
        }
      }
    }
  }

  .list {
    color: #ffffff;

    table {
      width: 100%;
      font-size: 14px;

      tr {
        height: 30px;

        th, td {
          padding-left: 5px;
          border: 1px solid #dcdada;
        }
      }

      th {
        min-width: 50px;
        max-width: 300px;
        background-color: $grey-light;
        font-size: 14px;
        color: $black-light;
      }

      td {
        height: 110px;
        background-color: $white-heavy;
        color: $black-light;
        word-break: break-all;
      }

      tr.active td {
        background-color: $blue;
        color: $black;
      }

      tr:hover td {
        background-color: $blue-light;
      }
    }

  }

  .detail {
    flex: 0 0 300px;
    background-color: #fafafa;
    font-size: 16px;
    color: #808080;

    .bar {
      padding-left: 22px;
      background-color: $grey;
      line-height: 50px;
      font-size: 22px;
      font-weight: bold;
      color: $black;
    }

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 150px;
      font-size: 60px;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .name, .title {
      word-break: break-all;
      font-size: 22px;
      font-weight: bold;
      color: #262626;
    }

    .name {
      text-align: center;
      line-height: 1;
    }

    .title {
      margin-top: 10px;
      font-size: 18px;
    }

    .info {

      div {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

::ng-deep {
  .ant-layout {
    height: 100vh;
  }

  .ant-tree.ant-tree-show-line li span.ant-tree-switcher {
    background-color: $blue-heavy;
    font-size: 14px;
    color: #ffffff;
  }

  .ant-tree li .ant-tree-node-content-wrapper {
    font-size: 14px;
    color: #ffffff;

    &:hover, &.ant-tree-node-selected {
      background-color: rgba(255, 255, 255, .2);
    }
  }

  .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }
}
